extends ../layout

block content
  h1.mb-4 Создание метки

  form(action='/labels' method='POST')
    .mb-3
      label.form-label(for='data_name') Наименование
      input.form-control(
        type='text'
        id='data_name'
        name='data[name]'
        value=(label ? label.name : '')
        class={ 'is-invalid': errors && errors.name }
      )
      if errors && errors.name
        .invalid-feedback
          = errors.name
    
    .mb-3
      button.btn.btn-primary(type='submit') Создать
      a.btn.btn-secondary.ms-2(href='/labels') Отмена
