extends ../layout

block content
  h1.mb-4 Редактирование статуса

  form(action=`/statuses/${status.id}/update` method='POST')
    .mb-3
      label.form-label(for='data_name') Наименование
      input.form-control(type='text' id='data_name' name='data[name]' value=status.name required)
    
    .mb-3
      button.btn.btn-primary(type='submit') Изменить
      a.btn.btn-secondary.ms-2(href='/statuses') Отмена
