extends ../layout

block content
  .row.justify-content-center
    .col-md-6
      h1.mb-4 Редактирование пользователя

      if flash && flash.error
        .alert.alert-danger.alert-dismissible.fade-show(role='alert')
          = flash.error
          button.btn-close(type='button' data-bs-dismiss='alert')

      form(action=`/users/${user.id}/update` method='POST')
        .mb-3
          label.form-label(for='data_firstName') Имя
          input.form-control(type='text' id='data_firstName' name='data[firstName]' value=user.firstName required)
        
        .mb-3
          label.form-label(for='data_lastName') Фамилия
          input.form-control(type='text' id='data_lastName' name='data[lastName]' value=user.lastName required)
        
        .mb-3
          label.form-label(for='data_email') Email
          input.form-control(type='email' id='data_email' name='data[email]' value=user.email required)
        
        .mb-3
          label.form-label(for='data_password') Пароль
          input.form-control(type='password' id='data_password' name='data[password]' placeholder='Оставьте пустым, чтобы не менять')
        
        .mb-3
          button.btn.btn-primary(type='submit') Изменить
          a.btn.btn-secondary.ms-2(href='/users') Отмена
